<div class="card">
  <div class="card-body">
    <h5 class="title">List Cards</h5>
  </div>
  <table class="table">
    <tbody>
      <tr *ngFor="let card of cardList">
        <td>{{ card.titular }}</td>
        <td>{{ card.cardNumber }}</td>
        <td>{{ card.expDate }}</td>
        <td>
          <i (click)="editCard(card)" class="far fa-edit text-info"></i>
          <i (click)="deleteCard(card.id!)" class="far fa-trash-alt text-danger"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
